node_modules/\nvenv/\n.env\n__pycache__/\n
# MacOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
ENV/
.venv/
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/app/__pycache__/

# All env files
.env*

